<!doctype html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action = '/madlib'>
        What's your name?<input type= "text" name = "character"></input><br>
        Color: 
        <input type="radio" name="color_option">Blue</input>
        <input type="radio" name="color_option">Red</input>
        <input type="radio" name="color_option">Green</input><br>
        Favorite noun:
        <input type="text" name="favnoun"></input><br>
        Favorite adjective:
        <select name="favadjective">
            <option value = "hilarious">Hilarious</option>
            <option value = "hungry">Hungry</option>
            <option value = "special">Special</option>
        </select><br>

        <input type="submit">
    </form>
</body>
</html>